#Aryan1.readMoreDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
    margin-top: -5%;
    
}
#Aryan1.arrowDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 67px;
    background-color: #07A0E1;
    border-radius: 100px;
    
}
#Aryan1.testimonialCaseCont{
    height: fit-content;
}
#Aryan1.More{
    height: 38px;
    width: 38px;
}
#Aryan1.readMore{
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
}

#Aryan1.Less{
    height: 38px;
    width: 38px;
    transform: rotate(180deg);
}

.styled-table thead tr {
    background-color: #5fadf2;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #45b0ed;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #0bbadd;
}

.table_2o{
    margin-left: 25px;
 
}

/* .slider{
    margin-left: 30px;
} */
.tests{
    margin-left: 25%;
    justify-content: center;
    align-items: center;
   
    
}